@charset "utf-8";

.form-control-textarea {

	line-height: 1.5;
	color: #495057;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
 

textarea{
	resize:none;
	
}

#button-right-fix{

	margin-left:610px;
	
}

#button-right-fix2{

	margin-left:985px;
	
}

.table-content{
	
	width: 800;
	height:1000;
	margin-bottom: 1rem;
	color: #212529;
}

.table-content td, .table-content th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6
}

.table-content thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6
}

.table-content tbody+tbody {
	border-top: 2px solid #dee2e6
}

.table-content td .reply {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	background: #D4D8D9;
	
}

.table2{
	
	
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	background-color: #eceef0;
}

.table2 td, .table2 th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6
}

.table2 thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6
}

.table2 tbody+tbody {
	border-top: 2px solid #dee2e6
}

.table2 td .reply {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	background: #D4D8D9;
	
}

.button-right-fix{

	margin-left:900px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}



